<!-- sign-up.component.html -->
<div #container class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" class="sign-up-form">
        <h2 class="title">Register</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" formControlName="username" placeholder="Username" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" formControlName="password" placeholder="Password" required />
        </div>
        <div class="auth-input-group">
          <label>Roles</label>
          <div class="role-selection">
            <label class="role-radio">
              <input type="radio" formControlName="roles" value="ROLE_COMPANY" />
              Company
            </label>
            <label class="role-radio">
              <input type="radio" formControlName="roles" value="ROLE_ENTREPRENEUR" />
              Entrepreneur
            </label>
          </div>
          <p *ngIf="signUpForm.get('roles')?.invalid && signUpForm.get('roles')?.touched" id="rolesError" class="auth-error">
            Please select a role.
          </p>
        </div>
        <input type="submit" class="btn" value="Register" />
        <p class="social-text">Or Register With</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <button class="btn transparent" (click)="onSignIn()">Login</button>
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Already have an account?</h3>
        <p></p>
        <button class="btn transparent" (click)="onSignIn()">Login</button>
      </div>
      <img src="https://i.ibb.co/1QXKhJs/vecteezy-3d-delivery-man-character-presenting-to-the-right-pose-with-36876801.png" class="image" alt="" />
    </div>
  </div>
</div>
