<!-- sign-in.component.html -->
<div #container class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()" class="sign-in-form">
        <h2 class="title">Login</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" formControlName="username" placeholder="Username" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" formControlName="password" placeholder="Password" required />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Login With</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <button class="btn transparent" (click)="onSignUp()">Register</button>
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Don't have an account yet?</h3>
        <p></p>
        <button class="btn transparent" (click)="onSignUp()">Register</button>
      </div>
      <img src="https://i.ibb.co/tL3DpDz/vecteezy-3d-delivery-man-character-pointing-to-the-left-pose-with-36876824.png" class="image" alt="" />
    </div>
  </div>
</div>
