:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4ec4e8;
  --header-height: 3.5rem;
  --first-color: hsl(0, 0%, 0%);
  --title-color: hsl(228, 18%, 16%);
  --shadow-color: hsla(228, 80%, 4%, .1);
  --body-font: "Nunito Sans", system-ui;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .75rem;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --body-color: #ffffff;




}

@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}
