<div class="modal-overlay" role="dialog" aria-labelledby="dialog-title" aria-modal="true">
  <div class="modal-container" #modalContainer [class.dark-theme]="isDarkMode">
    <!-- Encabezado -->

    <!-- Formulario -->
    <form #driverForm="ngForm" class="modal-form">
      <div class="form-field">
        <label for="name" class="label">Name</label>
        <input id="name" type="text" name="name" required [(ngModel)]="driver.name" placeholder="Enter driver's name" class="input" />
      </div>
      <div class="form-field">
        <label for="dni" class="label">DNI</label>
        <input id="dni" type="text" name="dni" required [(ngModel)]="driver.dni" placeholder="Enter DNI" class="input" />
      </div>
      <div class="form-field">
        <label for="phone" class="label">Phone</label>
        <input id="phone" type="text" name="phone" required [(ngModel)]="driver.contactNum" placeholder="Enter phone number" class="input" />
      </div>
      <div class="form-field">
        <label for="license" class="label">License</label>
        <input id="license" type="text" name="license" required [(ngModel)]="driver.license" placeholder="Enter license number" class="input" />
      </div>
      <div class="form-field">
        <label for="photoUrl" class="label">Photo URL</label>
        <input id="photoUrl" type="text" name="photoUrl" [(ngModel)]="driver.photoUrl" placeholder="Enter photo URL (optional)" class="input" />
      </div>
    </form>

    <!-- Acciones -->
    <footer class="modal-actions">
      <button class="button cancel-button" (click)="onCancel()">Cancel</button>
      <button class="button submit-button" (click)="onSubmit()">Accept</button>
    </footer>
  </div>
</div>
