<div class="driver-management-container" [class.dark-theme]="isDarkMode">
  <button #addDriverButton class="btn-17" [ngClass]="{'dark-theme': isDarkMode, 'light-theme': !isDarkMode}" (click)="onAddDriver()">
  <span class="text-container">
    <span class="text">Agregar</span>
  </span>
  </button>

    <div class="header-title">
      <h1>Gestión de Conductores</h1>
    </div>


  <div class="table-container">
    <div class="table-scroll-wrapper">
      <table class="driver-table">
        <thead>
        <tr>
          <th *ngFor="let column of columnsToDisplay" [class]="column">{{ column | titlecase }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let driver of dataSource" [id]="'row-' + driver.id">
          <td data-label="ID">{{ driver.id }}</td>
          <td data-label="Foto">
            <div class="photo-wrapper" (click)="viewPhoto(driver.photoUrl)" aria-label="Ver foto del conductor">
              <img
                [src]="driver.photoUrl"
                alt="Foto del conductor"
                class="driver-photo"
                loading="lazy"
                aria-hidden="true"
              >
              <div class="photo-overlay">
                <button class="view-button" aria-label="Ampliar foto">
                  <span class="i-icon-park-outline-eyes"></span>
                </button>
              </div>
            </div>
          </td>
          <td data-label="Nombre">{{ driver.name }}</td>
          <td data-label="DNI">{{ driver.dni }}</td>
          <td data-label="Teléfono">{{ driver.contactNum }}</td>
          <td data-label="Licencia">
              <span class="license-status" [class.valid]="driver.license">
                {{ driver.license ? 'Válida' : 'Expirada' }}
              </span>
          </td>

          <td data-label="Acciones" class="actions-cell">
            <div class="action-buttons">
              <button class="icon-button edit" (click)="onEditItem(driver)">
                <svg viewBox="0 0 24 24">
                  <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                </svg>
              </button>
              <button class="icon-button delete" (click)="onDeleteItem(driver)">
                <svg viewBox="0 0 24 24">
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
